pkgbase = duck
	pkgdesc = Cyberduck CLI
	pkgver = 5.0.2.20424
	pkgrel = 1
	url = https://duck.sh/
	arch = x86_64
	arch = i686
	license = GPL
	makedepends = rpmextract
	depends = java-runtime
	options = !strip
	source_x86_64 = https://repo.cyberduck.io/stable/x86_64/duck-5.0.2.20424.x86_64.rpm
	md5sums_x86_64 = 2517850cef1d7f7a84633148e2cd4ec3
	source_i686 = https://repo.cyberduck.io/stable/i386/duck-5.0.2.20424.i686.rpm
	md5sums_i686 = b60006cad3bb169a6968e2ed3b431656

pkgname = duck

